# Compiled files
*.class

# Simulation report files
*reports*/*.txt
/reports

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list
/doc/

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*

# log files for batches of simulations
*.log
/log/

# Don't add new data sets to the repo
/data/

/scripts/

# batch settings files
/batch_settings/
